<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Bundle Info -->
    <key>CFBundleDisplayName</key>
    <string>PupGuesser</string>
    <key>CFBundleExecutable</key>
   <string>PupGuesser</string>
    <key>CFBundleIdentifier</key>
    <string>com.sam.test.project.PupGuesser</string>
    <key>CFBundleName</key>
    <string>PupGuesser</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>

    <!-- iPhone only -->
    <key>UIDeviceFamily</key>
    <array>
        <integer>1</integer>
    </array>

    <!-- Main and Launch Storyboards -->
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UILaunchStoryboardName</key>
    <string>Launch Screen</string>

    <!-- App Icon -->
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>
    </dict>

    <!-- Required -->
    <key>LSRequiresIPhoneOS</key>
    <true/>

    <!-- Device Capabilities -->
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
    </array>

    <!-- Orientation -->
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>

    <!-- Status Bar -->
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
</dict>
</plist>
